<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Dreams don't work unless you do!</h1>
    <p>If it doesn't open.... it's not your door.</p>

    <pre>
<%= message; %>
<br>
<br>
<br>
<%= error; %>

<%- include('includes/end.ejs') %>